.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(223, 100, 0, 0.3), rgba(235, 84, 3, 0.442)), url("../../images/library-img.jpg") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}